.product-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.product-container h3 {
  font-size: 32px;
  margin-top: 50px;
}

.product-container div {
  align-items: center;
  display: flex;
  margin-top: 50px;
}

.product-container div p {
  margin-left: 30px;
}

.product-container div img {
  width: 200px;
}
